<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

<p>The secret word is: <%= secretWord %></p>
<p>Would you like to change it?</p>

<form method="POST" action="/secretWord">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <label for="secretWordInput">New secret word:</label>
  <input id="secretWordInput" name="secretWord" type="text" /><br />
  <button type="submit">Submit</button>
</form>

<%- include("partials/footer.ejs") %>


